@model Product;

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="margin:30px;padding:20px;">
     <h5 class="mb-3"><a asp-action="Index" asp-controller="Home" class="text" style="text-decoration: none;"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
    <hr />
    <br />
    <div class="row">
        <div class="col-4">
            <img style="width:300px;" src="@Html.DisplayFor(model => model.PhotoUrl)" />

        </div>
        <div class="col-6">
            <h2>@Html.DisplayFor(model => model.ProductName)</h2>
            <br />
            <p style="font-weight:bold;">Product Description: </p>
            <p> @Html.DisplayFor(model=>model.ProductDescription)</p>
            <p style="font-weight:bold;">Product Code: </p> <p>@Html.DisplayFor(model=> model.ProductCode)</p>
            <h5 class="text-bold">Product Price: </h5> <h5> @Html.DisplayFor(model=> model.ProductPrice)$</h5>

            <form id="@Model?.ProductId" asp-page="/Cart" method="post">
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" name="returnUrl"
                       value="@ViewContext.HttpContext.Request.PathAndQuery()" />

                <button type="submit"
                        class="btn btn-success btn-lg">
                    Add To Cart
                </button>

            </form>
        </div>

    </div>
    <br />
    <hr />

</div>



